<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .navbar-custom {
            background-color: rgb(0, 106, 255);
            /* Change this to any color you desire */
        }
        body{
    
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
    </style>
</head>
<body>
<header class="bg-light">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    Sidhman Technologies
                </a>
            </div>
        </nav>
    </header>

<div class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"
                         style="background-color: rgb(0, 204, 255); box-shadow: 10px 10px rgb(162, 164, 164);">
                        <h5 style="text-align: center;">Registration Form</h5>
                    </div>
                    <div class="card-body"
                         style="box-shadow: 10px 10px rgb(162, 164, 164);">
                        <form id="registrationForm" action="/register" method="POST"
                              enctype="multipart/form-data" class="row g-3">

                            <div id="emailExistsMessage"
                                 class="d-flex justify-content-center" style="color: red;">
                                <span th:if="${emailError}" th:text="${emailError}">Email
                                    is already registered.</span>
                            </div>
                            <div id="usernameExistsMessage"
                                 class="d-flex justify-content-center" style="color: red;">
                                <span th:if="${usernameError}" th:text="${usernameError}">Username
                                    is already taken.</span>
                            </div>


                            <div class="col-md-12">
                                <label for="name" class="form-label">Name</label> <input
                                        type="text" class="form-control" id="name" name="name">
                                <div id="nameError" class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Email</label> <input
                                        type="email" class="form-control" id="email" name="email">
                                <div id="emailError" class="invalid-feedback"></div>
                            </div>
                            
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password"
                                       name="password">
                                <div id="passwordError" class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputcity" class="form-label">Mobile No</label> <input
                                        type="text" class="form-control" id="inputMobile"
                                        name="mobileno" placeholder="mobileNo">
                                <div id="mobileNoError" class="invalid-feedback"></div>
                            </div>
                            
                            <div class="form-group d-grid gap-2 col-6 mx-auto">
                                <button type="submit" name="register"
                                        class="btn btn-outline-primary">Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div style="margin-top: 15px; text-align: center;">
                    <span>Already have an account? &#9758; <a href="/profile"
                                                               class="btn btn-primary me-2">Click here</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div
            style="background-color: black; bottom: 0; position: fixed; left: 0; bottom: 0; width: 100%; text-align: center; color: aliceblue;">
        <p>
            <b>Copyright @2024</b>
        </p>
    </div>
</footer>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script>
    function previewImage(input) {
        var preview = document.getElementById('imagePreview');
        preview.innerHTML = '';

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                var img = document.createElement('img');
                img.setAttribute('src', e.target.result);
                img.setAttribute('class', 'img-thumbnail');
                preview.appendChild(img);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function validateImage(input) {
        var preview = document.getElementById('imagePreview');
        preview.innerHTML = '';

        var validImageTypes = ['image/jpeg', 'image/png', 'image/gif'];

        var file = input.files[0];
        var errorMessage = document.getElementById('imageError');

        if (!file) {
            errorMessage.innerText = 'Please select an image.';
            input.value = ''; // Clear the input field
            return;
        }

        if (!validImageTypes.includes(file.type)) {
            errorMessage.innerText = 'Please select a valid image file (JPEG, PNG, GIF).';
            input.value = ''; // Clear the input field
            return;
        }

        errorMessage.innerText = '';
        previewImage(input);
    }

    $(document).ready(function() {
        $('#registrationForm').submit(function(event) {
            var valid = true;

            $('.invalid-feedback').text('');

            $('.form-control').removeClass('is-invalid');

            if ($('#name').val().trim() === '') {
                $('#name').addClass('is-invalid');
                $('#nameError').text('Name is required.');
                valid = false;
            }

            if ($('#email').val().trim() === '') {
                $('#email').addClass('is-invalid');
                $('#emailError').text('Email is required.');
                valid = false;
            }

            if ($('#password').val().trim() === '') {
                $('#password').addClass('is-invalid');
                $('#passwordError').text('Password is required.');
                valid = false;
            }
           
            if ($('#inputMobile').val().trim() === '') {
                $('#inputMobile').addClass('is-invalid');
                $('#mobileNoError').text('Mobile is required.');
                valid = false;
            }
           
            
           

            if (!valid) {
                event.preventDefault();
            }
        });
    });
</script>
</body>
</html>